$blue: #007bff; $grey: grey;

* {
    margin: 0px;
    padding: 0px;
}
body {
font-family: 'Lato', sans-serif;
}
// business ir sign in 
.header {
    display: flex;
    justify-content: space-around;
    margin: 20px;
   
}
.sign-in {
    width: 80px;
    height: 35px;
    background-color: $blue;
    border-radius: 8px 8px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
}
// nuotrauka ir sign up
.picture{
    width: 100%;
    position:relative;
    text-align: center;
   
    
}
img {
    height: 500px;
    width: 100%;
}
.text {
    left: 340px;
    position:absolute;
    text-align:center;
    top: 80px;
    width: 50%;
    font-size: 40px;
    color: white;     
}
// .enter-email {
    
//     display:flex;
//     max-width: 110px;
//     height: 40px;
//     background-color:$blue;
//     border-radius: 8px 8px 8px 8px;
//     color:white;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     top:315px;
//     left:800px;
// }

.box {
    display: flex;
    flex-direction: row;
    background-color: #f8f9fa;
    padding: 20px;
}
.row {
    flex-grow: 1;
    flex-direction: row;
    margin: 10px
}

 .logo {
    display: flex;
    background-size: cover;
    position: relative;
    width: 70px;
    height: 70px;
    margin: 20px;
    left:140px;
}


.mini {
    position: relative;
    text-align: center;
    margin: 20px;
    display: flex;
    flex-direction:column;
    h2, p {
        margin: 20px;
    }
    }

//    layout text - jpg
.background {
    display: flex;
    max-width: 675px;
    height: 450px;
}
.row-reverse{
    display: flex;
    flex-direction: row-reverse;
}
.row-notreverse {
    display: flex;
    flex-direction: row
}
.big {
    margin: 40px;
    top: 160px;

       h2, p {
        text-align: justify;
        position: relative;
        top: 140px;
        margin: 20px;
    }
}
p {
    color: $grey;
}
// circle pictures
.circle-photo {
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
h1, h3, .circle-photo, p {
    margin: 10px;
}
.circle {
    margin-top: 100px;
}